/*
    SkyApp Bootstrap Sass Theme
    Author: Brad Trayersy
    Vsersion: 0.0.1
*/
/* BASE - Base styles, variables, minins, etc */
/* front colors */
/* background colors*/
/* showcase area */
/* body width*/
/* Mixins */
/* line 1, ../../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../../scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, ../../scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, ../../scss/base/_normalize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 18, ../../scss/base/_normalize.scss */
.top-inner {
  padding: 90px 0 30px 0;
}

/* line 22, ../../scss/base/_normalize.scss */
.color-primary {
  background-color: #00aff0;
  color: #ffffff;
}

/* line 26, ../../scss/base/_normalize.scss */
.color-secondary {
  background-color: #7fba00;
  color: #ffffff;
}

/* line 30, ../../scss/base/_normalize.scss */
.align-center {
  text-align: center !important;
}

/* line 34, ../../scss/base/_normalize.scss */
.max-width {
  width: 970px !important;
}

/* line 38, ../../scss/base/_normalize.scss */
.border-all {
  border: 1px solid lightgrey;
}

/* line 41, ../../scss/base/_normalize.scss */
.border-allthick {
  border: 5px solid white;
}

/* line 44, ../../scss/base/_normalize.scss */
.border-bottom {
  border-bottom: 4px solid lightgrey;
}

/* line 48, ../../scss/base/_normalize.scss */
.topgrey-background {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* line 52, ../../scss/base/_normalize.scss */
.primary-color {
  color: #00aff0;
}

/* 面板的标题字段的底色 */
/* line 57, ../../scss/base/_normalize.scss */
.panel > .panel-heading {
  color: white;
  background-color: #1e95cc;
  border-color: #ddd;
}

/* 面板列表的标题字段的底色 */
/* line 63, ../../scss/base/_normalize.scss */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #1e95cc;
  border-color: #1e95cc;
}

/* line 1, ../../scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 13px;
  line-height: 1.2em;
  color: #666666;
}

/* line 8, ../../scss/base/_base.scss */
.container {
  width: 970px !important;
}

/* line 12, ../../scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 16, ../../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 20, ../../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 24, ../../scss/base/_base.scss */
img.device {
  width: 100%;
}

/* MODULES - Individual site components */
/* lists */
/* line 3, ../../scss/modules/_typography.scss */
.list, .list-feature {
  margin-bottom: 20px;
}

/* line 7, ../../scss/modules/_typography.scss */
.list-feature {
  margin: 0;
  padding: 0;
  width: 80%;
}
/* line 13, ../../scss/modules/_typography.scss */
.list-feature li {
  line-height: 1.8em;
}
/* line 17, ../../scss/modules/_typography.scss */
.list-feature li:last-child {
  border: 0;
}
/* line 21, ../../scss/modules/_typography.scss */
.list-feature span {
  vertical-align: top;
  padding-top: 9px;
  font-size: 120%;
}
/* line 26, ../../scss/modules/_typography.scss */
.list-feature i {
  margin-top: -2px;
  margin-right: 5px;
}

/* icon */
/* line 33, ../../scss/modules/_typography.scss */
.fa-primary {
  color: #00aff0;
}

/* line 37, ../../scss/modules/_typography.scss */
.fa-border {
  border: 1px solid #00aff0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 13px 15px;
  width: 70px;
  margin-bottom: 10px;
}

/* heading */
/* line 46, ../../scss/modules/_typography.scss */
.heading-primary {
  color: #00aff0;
}

/* line 50, ../../scss/modules/_typography.scss */
.heading-secondary {
  color: #7fba00;
}

/* line 54, ../../scss/modules/_typography.scss */
.heading-light {
  color: #e4eef2;
}

/* line 58, ../../scss/modules/_typography.scss */
.heading-dark {
  color: #2b5464;
}

/* blocks */
/* line 2, ../../scss/modules/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}
/* line 6, ../../scss/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}

/* line 13, ../../scss/modules/_blocks.scss */
.block-primary {
  background-color: #00aff0;
  color: #ffffff;
}

/* line 17, ../../scss/modules/_blocks.scss */
.block-secondary {
  background-color: #7fba00;
  color: #ffffff;
}

/* line 21, ../../scss/modules/_blocks.scss */
.block-light {
  background-color: #e4eef2;
  color: #666666;
}

/* line 25, ../../scss/modules/_blocks.scss */
.block-dark {
  background-color: #2b5464;
  color: #ffffff;
}

/* line 30, ../../scss/modules/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* line 34, ../../scss/modules/_blocks.scss */
.block-shadow {
  box-shadow: 6px 6px 12px #888888;
}

/* Buttons */
/* line 2, ../../scss/modules/_buttons.scss */
.btn-primary {
  background-color: #00aff0;
  color: #ffffff;
  border: 2px solid white;
}

/* line 7, ../../scss/modules/_buttons.scss */
.btn-primary:hover {
  background: #00658a;
  border: 2px solid white;
}

/* sections */
/* line 3, ../../scss/modules/_sections.scss */
section {
  padding: 30px 0px 0px 0px;
}

/* line 7, ../../scss/modules/_sections.scss */
.section-showcase {
  height: 400px;
  background: url("../img/showcase.jpg") no-repeat top center;
}
/* line 11, ../../scss/modules/_sections.scss */
.section-showcase .showcase-content {
  padding: 90px 15px;
  text-align: center;
}
/* line 16, ../../scss/modules/_sections.scss */
.section-showcase h1 {
  color: #00aff0;
}

/* line 21, ../../scss/modules/_sections.scss */
.section-primary, .section-primary-a, .section-primary-b {
  background-color: #00aff0;
  color: #ffffff;
}

/* line 25, ../../scss/modules/_sections.scss */
.section-primary-a {
  border-top: 4px solid #7fba00;
}

/* line 30, ../../scss/modules/_sections.scss */
.section-primary-b {
  border-bottom: 4px solid #7fba00;
}

/* line 36, ../../scss/modules/_sections.scss */
.section-secondary {
  background-color: #7fba00;
  color: #ffffff;
}

/* line 40, ../../scss/modules/_sections.scss */
.section-light {
  background-color: #e4eef2;
  color: #666666;
}

/* line 44, ../../scss/modules/_sections.scss */
.section-dark {
  background-color: #2b5464;
  color: #ffffff;
}

/* search box */
/* line 3, ../../scss/modules/_forms.scss */
.search {
  width: 100%;
}
/* line 6, ../../scss/modules/_forms.scss */
.search h3 {
  margin-top: 0;
  padding-top: 0;
}
/* line 11, ../../scss/modules/_forms.scss */
.search input[type="search"] {
  border: 0;
  height: 50px;
  width: 80%;
  border: 2px solid #00aff0;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 5px;
}
/* line 21, ../../scss/modules/_forms.scss */
.search button {
  border: 0;
  background: none;
  padding: 0;
  vertical-align: top;
  margin-left: -4px;
}

/* LAYOUTS - Page layout styles */
/* 鼠标悬停就弹出二级菜单*/
/* line 3, ../../scss/layouts/_nav.scss */
.navbar-nav > li .dropdown-menu {
  margin: 0;
}

/* line 6, ../../scss/layouts/_nav.scss */
.navbar-nav > li:hover .dropdown-menu {
  display: block;
}

/* line 10, ../../scss/layouts/_nav.scss */
.nav-item {
  width: 150px;
  text-align: center;
  font-size: 1.2em;
  background-color: #1e95cc;
  color: #ffffff;
}

/* line 18, ../../scss/layouts/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

/* 设置导航子菜单的颜色 */
/* line 23, ../../scss/layouts/_nav.scss */
.nav-menu-color {
  background-color: #1e95cc;
  color: #ffffff;
}

/* 子菜单悬停上去的颜色 */
/* line 28, ../../scss/layouts/_nav.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

/* 子菜单的项目颜色 */
/* line 35, ../../scss/layouts/_nav.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #ffffff;
  white-space: nowrap;
}

/* 导航项目悬停颜色 */
/* line 46, ../../scss/layouts/_nav.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffff00;
  background-color: transparent;
}

/* 点击 nav的时候。*/
/* line 51, ../../scss/layouts/_nav.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffff00;
  background-color: #1e95cc;
}

/* line 56, ../../scss/layouts/_nav.scss */
.nav-background {
  background-color: #1e95cc;
}

/* line 61, ../../scss/layouts/_nav.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #e5e5e5;
}

/* line 64, ../../scss/layouts/_nav.scss */
.navbar-nav > li > a {
  padding-top: 9px !important;
  padding-bottom: 5px !important;
}

/* line 65, ../../scss/layouts/_nav.scss */
.navbar {
  min-height: 40px !important;
}

/* header */
/* Footer */
/* line 3, ../../scss/layouts/_footer.scss */
.footer-main {
  color: #ffffff;
  background-color: #1e95cc;
  border-top: 5px solid #7fba00;
  min-height: 60px;
  padding: 10px 10px;
}
/* line 9, ../../scss/layouts/_footer.scss */
.footer-main a {
  color: #ffffff;
}
/* line 12, ../../scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0;
  padding: 0;
}
/* line 16, ../../scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.5em;
  list-style: none;
}
