
/* 鼠标悬停就弹出二级菜单*/
.move-show{
  display:none;
}

.move-navi > span .dropdown-menu {
  margin: 0;
}
.move-navi > div:hover .move-show {
  z-index:100;
  display:block;
}

.move-navi > span:hover{
  @include add-background($secondary-color);
}
