<div class="container-fluid">
  <div class="row" style="min-height: 450px;">
    <div class="col-md-3 sidebar" style="padding-left: 0px;">

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="font-size:1.2em; line-height: 1.6em; ">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="./#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                内容编辑
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="./#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                系统设置
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">

              <ul class="nav nav-sidebar" >
              <li class="active"><a href="#">用户管理</a></li>
              <li><a href="#">Reports</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Export</a></li>
            </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="./#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                栏目编辑
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

              <div id="tree1"></div>

            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="col-md-9 main">


      <div ui-view></div>

    </div>
  </div>
</div>




<script>
  $(function() {
    var ldata = [
      {
        label: '<a href="#" >  根目录 </a> [<a href=""> <i class="glyphicon glyphicon-plus"></i> </a>  <a href=""> <i class="glyphicon glyphicon-remove"></i> </a>]',
        children: [
          { label: 'child1',children: [
            { label: 'child1' },
            { label: 'child2' }
          ] },
          { label: 'child2' }
        ]
      },
      {
        label: 'node2',
        children: [
          { label: 'child3' }
        ]
      }
    ];

    $('#tree1').tree({
      closedIcon: $('<i class="glyphicon glyphicon-plus"></i>'),
      openedIcon: $('<i class="glyphicon glyphicon-minus"></i>'),
      data: ldata,
      autoEscape: false,
      autoOpen: 0
    });
  });
</script>